:root{
    --background-color: rgb(255, 242, 235);
    --light-color: rgb(255, 244, 217);
    --dark-color: rgb(40, 0, 0);
}



body{

    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    margin-bottom: auto;

    font-optical-sizing: auto;
    background-color: white;
    background-color: var(--background-color);   
    text-align: center;        
    font-family: "Carrois Gothic SC", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
      
}




.top
{

    margin-right: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;

    img{
        height: 500px;
        width: auto;
    }
}

.OuterDivBothPics{
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    justify-content: space-evenly;
    padding: 50px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;

    .innerPicDiv{
        padding: 5px;
        text-align:center;
        




    }
 }

 a:link{
    color: black;
    

 }

 a:visited{
    color: black;

 }

 a:hover{
    color:brown;
 }





    
    





   
        