.top-bar{
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-around;
    background-color:rgb(251, 211, 164);
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;

}

.top-bar a{
    
    float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

/*
a:link{
    color: white;
    

 }

 a:visited{
    color: white;

 }
*/

 a:hover{
    color:brown;
 }

 